<a href="https://colab.research.google.com/github/pauljainta/Machine-Learning-Project-Adaboost-/blob/main/1605022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [78]:
pip install numpy scikit-learn pandas matplotlib

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.0.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)

In [79]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [80]:
%cd gdrive/MyDrive/dataset/

[Errno 2] No such file or directory: 'gdrive/MyDrive/dataset/'
/content/gdrive/MyDrive/dataset

In [81]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [82]:
telco_customer_dataset=pd.read_csv('telco.csv')
telco_customer_dataset.drop('customerID', inplace=True, axis=1)
# telco_customer_dataset.head(20)
# telco_customer_dataset['gender']=telco_customer_dataset['gender'].map({'Female':0,'Male':1})
# telco_customer_dataset['Partner']=telco_customer_dataset['Partner'].map({'Yes':1,'No':0})
# telco_customer_dataset.head(20)

for i in telco_customer_dataset.columns:
  # print(telco_customer_dataset[i].dtypes)
  if(telco_customer_dataset[i].nunique()==2 and telco_customer_dataset[i].dtypes=='object'):
    unique_values=telco_customer_dataset[i].unique()
    telco_customer_dataset[i]=telco_customer_dataset[i].map({unique_values[0]:0,unique_values[1]:1})

In [83]:
telco_customer_dataset['TotalCharges'] =  pd.to_numeric(telco_customer_dataset['TotalCharges'] ,errors = 'coerce')
telco_customer_dataset=pd.get_dummies(telco_customer_dataset)
for i in telco_customer_dataset.columns:
  if(telco_customer_dataset[i].nunique()!=2):
    telco_customer_dataset[i] = (telco_customer_dataset[i]-telco_customer_dataset[i].min())/(telco_customer_dataset[i].max()-telco_customer_dataset[i].min())
telco_customer_dataset.head(5)

   gender  ...  PaymentMethod_Mailed check
0       0  ...                           0
1       1  ...                           1
2       1  ...                           1
3       1  ...                           0
4       0  ...                           0

[5 rows x 41 columns]

In [84]:
X_telco=telco_customer_dataset.loc[:, telco_customer_dataset.columns != 'Churn']
Y_telco=telco_customer_dataset['Churn']
X_telco

      gender  ...  PaymentMethod_Mailed check
0          0  ...                           0
1          1  ...                           1
2          1  ...                           1
3          1  ...                           0
4          0  ...                           0
...      ...  ...                         ...
7038       1  ...                           1
7039       0  ...                           0
7040       0  ...                           0
7041       1  ...                           1
7042       1  ...                           0

[7043 rows x 40 columns]

In [85]:
adult_dataset=pd.read_csv('adult.csv')
# adult_dataset.info()
# adult_dataset.isnull().sum()


for i in adult_dataset.columns:
  # print(adult_dataset[i].dtypes)
  # adult_dataset[i].replace('?','')
  max_occcured_value=adult_dataset[i].value_counts().idxmax()
  # print(adult_dataset[i].unique())
  adult_dataset[i]=adult_dataset[i].replace(" ?",max_occcured_value)
# adult_dataset.head(400)

In [86]:
for i in adult_dataset.columns:
  # print(telco_customer_dataset[i].dtypes)
  if(adult_dataset[i].nunique()==2 and adult_dataset[i].dtypes=='object'):
    unique_values=adult_dataset[i].unique()
    adult_dataset[i]=adult_dataset[i].map({unique_values[0]:0,unique_values[1]:1})

adult_dataset=pd.get_dummies(adult_dataset)

# adult_dataset.head(4)

   age  fnlwgt  ...  native-country_ Vietnam  native-country_ Yugoslavia
0   39   77516  ...                        0                           0
1   50   83311  ...                        0                           0
2   38  215646  ...                        0                           0
3   53  234721  ...                        0                           0

[4 rows x 105 columns]

In [87]:
for i in adult_dataset.columns:
  if(adult_dataset[i].nunique()!=2):
    adult_dataset[i] = (adult_dataset[i]-adult_dataset[i].min())/(adult_dataset[i].max()-adult_dataset[i].min())
adult_dataset.head(5)

        age    fnlwgt  ...  native-country_ Vietnam  native-country_ Yugoslavia
0  0.301370  0.044302  ...                        0                           0
1  0.452055  0.048238  ...                        0                           0
2  0.287671  0.138113  ...                        0                           0
3  0.493151  0.151068  ...                        0                           0
4  0.150685  0.221488  ...                        0                           0

[5 rows x 105 columns]