<a href="https://colab.research.google.com/github/pauljainta/Machine-Learning-Project-Adaboost-/blob/main/1605022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [340]:
pip install numpy scikit-learn pandas matplotlib

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)

In [341]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [342]:
%cd gdrive/MyDrive/dataset/

[Errno 2] No such file or directory: 'gdrive/MyDrive/dataset/'
/content/gdrive/MyDrive/dataset

In [343]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [344]:
telco_customer_dataset=pd.read_csv('telco.csv')
telco_customer_dataset.drop('customerID', inplace=True, axis=1)
# telco_customer_dataset.head(20)
# telco_customer_dataset['gender']=telco_customer_dataset['gender'].map({'Female':0,'Male':1})
# telco_customer_dataset['Partner']=telco_customer_dataset['Partner'].map({'Yes':1,'No':0})
# telco_customer_dataset.head(20)

# for i in telco_customer_dataset.columns:
#   # print(telco_customer_dataset[i].dtypes)
#   if(telco_customer_dataset[i].nunique()==2 and telco_customer_dataset[i].dtypes=='object'):
#     unique_values=telco_customer_dataset[i].unique()
#     telco_customer_dataset[i]=telco_customer_dataset[i].map({unique_values[0]:0,unique_values[1]:1})

In [345]:
def binarize_values(dataset):
  for i in dataset.columns:
  # print(telco_customer_dataset[i].dtypes)
    if(dataset[i].nunique()==2 and dataset[i].dtypes=='object'):
      unique_values=dataset[i].unique()
      dataset[i]=dataset[i].map({unique_values[0]:0,unique_values[1]:1})

  return dataset

In [346]:
def normalize(dataset):
  for i in dataset.columns:
    if(dataset[i].nunique()!=2):
      dataset[i] = (dataset[i]-dataset[i].min())/(dataset[i].max()-dataset[i].min())
  return dataset

In [347]:
telco_customer_dataset=binarize_values(telco_customer_dataset)
# telco_customer_dataset.head(5)

In [348]:
telco_customer_dataset['TotalCharges'] =  pd.to_numeric(telco_customer_dataset['TotalCharges'] ,errors = 'coerce')
min_occcured_value=telco_customer_dataset['TotalCharges'].value_counts().idxmin()
  # print(adult_dataset[i].unique())
telco_customer_dataset['TotalCharges']=telco_customer_dataset['TotalCharges'].replace(np.nan,min_occcured_value)

telco_customer_dataset=pd.get_dummies(telco_customer_dataset)
telco_customer_dataset=normalize(telco_customer_dataset)
# for i in telco_customer_dataset.columns:
  # if(telco_customer_dataset[i].nunique()!=2):
  #   telco_customer_dataset[i] = (telco_customer_dataset[i]-telco_customer_dataset[i].min())/(telco_customer_dataset[i].max()-telco_customer_dataset[i].min())
telco_customer_dataset.head(5)

   gender  ...  PaymentMethod_Mailed check
0       0  ...                           0
1       1  ...                           1
2       1  ...                           1
3       1  ...                           0
4       0  ...                           0

[5 rows x 41 columns]

In [349]:
X_telco=telco_customer_dataset.loc[:, telco_customer_dataset.columns != 'Churn']
Y_telco=telco_customer_dataset['Churn']
# X_telco=X_telco[1:1000]
# Y_telco=Y_telco[1:1000]

In [350]:
adult_dataset=pd.read_csv('adult.csv')
# adult_dataset.info()
# adult_dataset.isnull().sum()


for i in adult_dataset.columns:
  # print(adult_dataset[i].dtypes)
  # adult_dataset[i].replace('?','')
  max_occcured_value=adult_dataset[i].value_counts().idxmax()
  # print(adult_dataset[i].unique())
  adult_dataset[i]=adult_dataset[i].replace(" ?",max_occcured_value)
# adult_dataset.head(400)

adult_dataset=adult_dataset[10000:20000]

In [351]:
# for i in adult_dataset.columns:
#   # print(telco_customer_dataset[i].dtypes)
#   if(adult_dataset[i].nunique()==2 and adult_dataset[i].dtypes=='object'):
#     unique_values=adult_dataset[i].unique()
#     adult_dataset[i]=adult_dataset[i].map({unique_values[0]:0,unique_values[1]:1})

adult_dataset=binarize_values(adult_dataset)

adult_dataset=pd.get_dummies(adult_dataset)

# adult_dataset.head(4)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [352]:
# for i in adult_dataset.columns:
#   if(adult_dataset[i].nunique()!=2):
#     adult_dataset[i] = (adult_dataset[i]-adult_dataset[i].min())/(adult_dataset[i].max()-adult_dataset[i].min())

adult_dataset=normalize(adult_dataset)
adult_dataset.head(5)

            age    fnlwgt  ...  native-country_ Vietnam  native-country_ Yugoslavia
10000  0.232877  0.073468  ...                        0                           0
10001  0.082192  0.173768  ...                        0                           0
10002  0.506849  0.166428  ...                        0                           0
10003  0.438356  0.136557  ...                        0                           0
10004  0.109589  0.197733  ...                        0                           0

[5 rows x 105 columns]

In [353]:
X_adult=adult_dataset.loc[:, adult_dataset.columns != 'Income']
# X_adult
Y_adult=adult_dataset['Income']
Y_adult

10000    0
10001    0
10002    1
10003    1
10004    0
        ..
19995    1
19996    0
19997    0
19998    1
19999    1
Name: Income, Length: 10000, dtype: int64

In [354]:
from sklearn.model_selection import train_test_split
x_telco_train,x_telco_test,y_telco_train,y_telco_test = train_test_split(X_telco,Y_telco, test_size = 0.2)

x_adult_train,x_adult_test,y_adult_train,y_adult_test = train_test_split(X_adult,Y_adult, test_size = 0.2)

x_telco_test

      gender  ...  PaymentMethod_Mailed check
4789       0  ...                           1
361        0  ...                           0
4331       1  ...                           0
418        0  ...                           0
960        1  ...                           0
...      ...  ...                         ...
4410       0  ...                           0
3491       1  ...                           0
4280       1  ...                           0
461        0  ...                           0
6995       1  ...                           1

[1409 rows x 40 columns]

In [355]:
def hypothesis(theta,x):
    z = 0
    for i in range(len(theta)):
        xi = x[i]
        z += np.dot(xi,theta[i].transpose())
    # if(np.isnan(np.tanh(z))):
    #   return 0    
    return np.tanh(z)

In [356]:
def cost_function_derivativetanh(theta,j,m,alpha,x_train,y_train):
    sumErrors = 0
    for i in range(m):
        xi = x_train.iloc[i]
        hi = hypothesis(theta,xi)
        yt = y_train.iloc[i]
        hit = np.subtract((float)(hi),float(yt))
        error = np.dot(hit,x_train.iloc[i][j])
        sumErrors += error
    # m = len(y_test)
    constant = float(alpha)/float(m)
    j = constant * sumErrors
    return j

In [357]:
def gradient_descenttanh(theta,m,alpha,x_train,y_train):
    new_theta = []
    for j in range(len(theta)):
        new_theta_value = theta[j] - cost_function_derivativetanh(theta,j,m,alpha,x_train,y_train)
        new_theta.append(new_theta_value)
    return new_theta

In [358]:
def logistic_regression(alpha,theta,num_iters,x_train,x_test,y_train,y_test):
    m = len(y_train)
    for x in range(num_iters):
        new_theta = gradient_descenttanh(theta,m,alpha,x_train,y_train)
        theta = new_theta
        # if x % 100 == 0:
        #     cost_functiontanh(theta,m)
        #     print ('theta ', theta)	
        #     print ('cost is ', cost_functiontanh(theta,m))
    score = 0
    length = len(x_test)
    for i in range(length):
        prediction = round(hypothesis(theta,x_test.iloc[i]))
        answer = y_test.iloc[i]
        if prediction == answer:
            score += 1
    my_score = float(score) / float(length)
    print ('Your score with tanh: ', my_score)

In [ ]:
initial_theta = np.zeros(x_telco_test.iloc[1].shape)
alpha = 0.1
iterations = 10
# x_telco_test.shape
logistic_regression(alpha,initial_theta,iterations,x_telco_train,x_telco_test,y_telco_train,y_telco_test)